<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SPBaseModel" connectionString="data source=localhost;initial catalog=sp_base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BaseEntities" connectionString="metadata=res://*/SkladData.SkladModel.csdl|res://*/SkladData.SkladModel.ssdl|res://*/SkladData.SkladModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PALAMARCHUK-SV3;initial catalog=sp_base;integrated security=True;Connection Timeout=180;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BaseEntities_l" connectionString="metadata=res://*/SkladData.SkladModel.csdl|res://*/SkladData.SkladModel.ssdl|res://*/SkladData.SkladModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=sp_base;integrated security=True;Connection Timeout=180;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BaseEntities_max" connectionString="metadata=res://*/SkladData.SkladModel.csdl|res://*/SkladData.SkladModel.ssdl|res://*/SkladData.SkladModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.136.7.237;initial catalog=sp_base;persist security info=True;user id=user;password=qwerty123456789;Connection Timeout=180;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BaseEntities_komp" connectionString="metadata=res://*/SkladData.SkladModel.csdl|res://*/SkladData.SkladModel.ssdl|res://*/SkladData.SkladModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.136.7.248;initial catalog=sp_base;persist security info=True; user id=Developer;password=z7895123Z;Connection Timeout=180;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BaseEntities_kosten" connectionString="metadata=res://*/SkladData.SkladModel.csdl|res://*/SkladData.SkladModel.ssdl|res://*/SkladData.SkladModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.251.109.200;initial catalog=sp_base;persist security info=True; user id=sa;password=159d753D;Connection Timeout=180;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1" connectionString="data source=localhost;initial catalog=sp_base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=localhost;initial catalog=sp_base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=localhost;initial catalog=sp_base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model13" connectionString="data source=localhost;initial catalog=sp_base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>