<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="update.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <update.Properties.Settings>
            <setting name="NewVersionPatch" serializeAs="String">
                <value>c:\Temp\</value>
            </setting>
            <setting name="auto_update" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewVersionURL" serializeAs="String">
                <value>http://91.207.104.6:5555/SP_Sklad_upd.zip</value>
            </setting>
        </update.Properties.Settings>
    </userSettings>
</configuration>
