<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SP_Sklad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
      <add name="SPBaseModel" connectionString="data source=localhost;initial catalog=sp_base;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
      <add name="SPBaseModel_komp" connectionString="data source=178.136.7.248;initial catalog=sp_base;persist security info=True; user id=Developer;password=z7895123Z" providerName="System.Data.SqlClient"/>
      <add name="SPBaseModel_max" connectionString="data source=178.136.7.237;initial catalog=sp_base;persist security info=True; user id=user;password=qwerty123456789" providerName="System.Data.SqlClient"/>
    
    
      <add name="BaseEntities" connectionString="metadata=res://*/SkladData.SkladModel.csdl|res://*/SkladData.SkladModel.ssdl|res://*/SkladData.SkladModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PALAMARCHUK-SV3;initial catalog=sp_base;integrated security=True;Connection Timeout=180;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="BaseEntities_l" connectionString="metadata=res://*/SkladData.SkladModel.csdl|res://*/SkladData.SkladModel.ssdl|res://*/SkladData.SkladModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=sp_base;integrated security=True;Connection Timeout=180;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="BaseEntities_max" connectionString="metadata=res://*/SkladData.SkladModel.csdl|res://*/SkladData.SkladModel.ssdl|res://*/SkladData.SkladModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.136.7.237;initial catalog=sp_base;persist security info=True;user id=user;password=qwerty123456789;Connection Timeout=180;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="BaseEntities_komp" connectionString="metadata=res://*/SkladData.SkladModel.csdl|res://*/SkladData.SkladModel.ssdl|res://*/SkladData.SkladModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.136.7.248;initial catalog=sp_base;persist security info=True; user id=Developer;password=z7895123Z;Connection Timeout=180;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
  </connectionStrings>
  <userSettings>
    <SP_Sklad.Properties.Settings>
      <setting name="ch_view1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ch_view2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ch_view3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="main_status_bar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="main_toolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="wb_out_discount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="wb_out_certificat" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="wb_out_result" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="com_port_name" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="com_port_speed" serializeAs="String">
        <value>4800</value>
      </setting>
      <setting name="show_all_mat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value>Visual Studio 2013 Light</value>
      </setting>
      <setting name="LastTabPage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastFunId" serializeAs="String">
        <value>0</value>
      </setting>
    </SP_Sklad.Properties.Settings>
  </userSettings>
</configuration>